h3 {
  float:right;
}

.nametitle{
  padding-right: 50px;
  padding-bottom: 20px;
}

.sidebar{
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: red;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border: 2px solid black;
}

.sidebar img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.sidebar a{
  color: white;
}

.homehome{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: red;
  border: 2px solid black;
}

.hometitle{
  padding-left: 200px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  font-size: 20px;
}

.hometitle h1, .hometitle p{
  text-align: center;
  color: white;
  font-style: italic;
}

.hometitle img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.projects{
  padding-left: 200px;
  padding-right: 50px;
  padding-top: 40px;
}

.projects2{
  padding-right: 50px;
  padding-top: 40px;
}

.prj{
  padding-left: 200px;
}

.row{
  font-weight: bold;
}

.projectstitle{
  padding-left: 200px;
  padding-top: 50px;
  padding-right: 50px;
}

.aboutme{
  padding-left: 200px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.aboutme img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.aboutmeme{
  padding-top: 50px;
  text-align: center;
  background-color: red;
  border: 2px solid black;
}

.aboutmyself{
  padding-left: 200px;
  padding-right: 50px;

}

.aboutmymyself{
  background-color: red;
  border: 2px solid black;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
  font-size: 22px;
}

.aboutmymyself img{
  float: right;
  padding-right: 10px;
}

span {
  font-style: italic;
}

.art{
  padding-left: 200px;
}

.upart{
  padding-left: 200px;
}
